<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>    
        <link rel="stylesheet" href="css/solar.css">

    </head>
    <body>
        <header >Oorjan Solar Calculator</header>

        <div ng-app="SolarCalculatorApp" ng-controller="solcarController" class="container" ng-cloak>
            
            <div ng-class="{'inputform': !formSubmitted, 'row ': formSubmitted}" class="mt">
                <h1 ng-class="{'calchead': !formSubmitted, 'nodisplay': formSubmitted}"  >Oorjan </h1>
                <form name="form" role="form"  >
                    <div ng-class="{'col-sm-4': formSubmitted}" class="form-group">
                        <label >Loaction: </label>
                        <select ng-model="selectedCity" ng-options="x.city for x in locations" class="form-control" ng-change="calculator()"  required></select>
                    </div>
                    <div ng-class="{'col-sm-4': formSubmitted}" class="form-group">
                        <label >Roof Size (sq ft):</label>
                        <input type="number" class="form-control"  placeholder="Sq ft" ng-model="roofsize" ng-change="calculator()" min="0" required>
                    </div>
                    <div ng-class="{'col-sm-4': formSubmitted}" class="form-group">
                        <label >Electricity units consumed / month</label>
                        <input type="number" class="form-control"  placeholder="User input based on electricity bill (kWH)" ng-change="calculator()" ng-model="units" min="0" required>
                    </div>
                    <div ng-class="{'nodisplay': formSubmitted}" class="form-group">
                        <button  type="button" class="btn btn-default form-control button-custom " ng-click="submit()">submit</button>
                        <span class="text-danger" ng-show="error != 'undefined' || error != 'null' || error != ''">{{error}}</span>
                    </div>
                </form>
            </div>
            
            <div ng-show="formSubmitted && !entryEmpty" class="row">
                <div class="col-sm-6 form-group" >
                    <label >Loan Amount (in Rs, Max=85% of Solar System Cost):</label>
                    <rzslider  rz-slider-model="sliderLoanAmt.value" rz-slider-options="sliderLoanAmt.options" ></rzslider>
                </div>
                <div class="col-sm-6 form-group">
                    <label >Loan Tenure (Years):</label>
                    <rzslider  rz-slider-model="sliderLoanTenure.value" rz-slider-options="sliderLoanTenure.options" ></rzslider>
                </div>
            </div>

            <div class="row ">
                <div ng-if="formSubmitted && !entryEmpty" class="col-sm-4 form output">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label >Solar System Size (kW) </label>
                            <input type="number" class="form-control"  placeholder="Based on your consumption, but limited to what's possible on your roof (kW)" ng-model="solarsize" disabled>
                        </div>
                        <div class="form-group">
                            <label >Solar System Cost (Rs) </label>
                            <input type="number" class="form-control"  placeholder="Based on system size" ng-model="solarcost" disabled>
                        </div>
                        <div class="form-group">
                            <label >Solar units produced / month </label>
                            <input type="number" class="form-control"  placeholder="based on system size & daily production" ng-model="solarunits" disabled>
                        </div>

                        <div class="form-group">
                            <label >Monthly savings on electricity bill (in Rs) </label>
                            <input type="number" class="form-control"  placeholder="based on daily solar production & tariff" ng-model="monthlysavings" disabled>
                        </div>
                        <div class="form-group">
                            <label >EMI (in Rs)</label>
                            <input type="number" class="form-control"  placeholder="Based on Loan amount, tenure & interest rate" ng-model="monemi" disabled>
                        </div>
                    </form>
                </div>
                <div ng-show="formSubmitted && !entryEmpty" class="col-sm-8 graph">
                    <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js" defer></script>
        <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
        <script src="src/app.js"></script>
    </body>
</html>

